@font-face {
	font-family: 'PTSans';
	src: url('../fonts/ptsans.woff2') format('woff2'),
	url('../fonts/ptsans.woff') format('woff');
}
*{box-sizing:border-box;}
body {	
	font-size: 14px;
    font-family: "PTSans",Arial,sans-serif;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
    /*
    background: #000000 url("../img/sedona-hotels-1200.jpg") no-repeat -40px 3px;
    opacity: 0.7;*/
}
.container {
	width: 1200px;
	margin: 0 auto;
}
h2 {
	font-size: 21px;    
    line-height: 21px;
    color: #000000;
}
h3 {
	font-size: 30px;   
    line-height: 24px;
    color: #000000;
}
p {
	font-size: 14px;    
    line-height: 26px;
    color: #000000;
}
 img {
	max-width: 100%;
	height:auto;
}
.logo img {
	width: 138px;
	height: 70px;
	position: absolute;
	top:0;
	left:50%;
	margin-left: -69px;	
}
.navigation {
	padding-top: 14px;
	padding-bottom: 16px;
}
.navigation-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
li {	
    list-style-type: none;
}
a {
	text-decoration: none; 
    color: #000000;
}
ul {
	padding-left: 0;
}
/*-----------------Навигационное меню---------------- */
.navigation-list a {    
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    
} 
.navigation-list li {    
	width: 240px;
}
.navigation-list li:first-child {    
	padding-left:72px;
}
.navigation-list li:nth-child(2) {    
	margin-right:240px;
}
.navigation-list li:last-child {    
	padding-right:72px;
}
.navigation-list li:nth-child(3), .navigation-list li:last-child {
	text-align: right;
}
/*-----------------Изображение с приветствием------------------*/
.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url(../img/background-photo.jpg);
	padding-top: 76px;
	
}
.title img:first-child {	
	width: 458px;
	height: 352;
	align-self: center;
	padding-bottom: 23px;
}
.title img:last-child {	
	width: 1200px;
	height: 57px;
	height: auto;
	align-self: center;
}
.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 60px;
	padding-bottom: 57px;
}
.description h2 {
	align-self: center;	
	padding-right: 300px;
	padding-left: 300px;
	text-align: center;
}
.description p {
	padding-top: 32px;
	align-self: center;
}
/* ----------Причины посетить Седону---------------------*/
.reasons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.reasons-blue {
	background-color: #81b3d2;
	color: #ffffff;
}
.reasons-blue p, .reasons-blue h2 {
	color: #ffffff; 
}
.reasons-gray {
	background-color: #eeeeee;
}
.reasons-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;		
	width: 400px;
	align-items: center;
	padding-top: 53px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 45px;	
}
.reasons-item span {	
	padding-top: 21px;
	padding-bottom: 21px;
}
.reasons-item h2 {	
	padding-left: 75px;
	padding-right: 80px;
}
.reasons-item p {	
	line-height: 21px;
}
.reasons-image {
	width: 800px;
	height: 256px;
	align-self: center;
	line-height: 0; 
}
/*.reasons-blue .reasons-item {
	padding-left: 25px;
	padding-right: 25px;
}	*/

.reasons-gray .reasons-item {
	padding-top: 47px;
	padding-bottom: 62px;
	padding-left: 65px;
	padding-right: 65px;
}
/*---------------Жилье, Еда, Сувениры ---------------------*/
.internals-white {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 53px;
	padding-bottom: 75px;
}
.internals-item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 400px;
	align-items: center;
	text-align: center;	
	padding-left: 50px;
	padding-right: 50px;
}
.internals-item h2 {
	padding-top: 102px;
	padding-bottom: 27px;
	padding-left: ;
	padding-right: ;
}
.internals-item h2::after {
	content: " ";
	position: absolute;
	top: 0px;
	left: 164px;
	width: 75px;
	height: 76px;
	background: transparent url(../img/spritesheet.png) no-repeat;	
}
.internals-item:first-child h2::after {
	background-position: -89px -171px;
}
.internals-item:nth-child(2) h2::after {
	background-position: -5px -171px;
}
.internals-item:last-child h2::after {
	width: 64px;
	height: 76px;
	background-position: -117px -89px;
}
.internals-item .house {
	width: 75px;
	height: 77px;
	background: url(../img/sprite-sedona.png) no-repeat;
	background-position: -78px -115px;
}
.internals-item .food {
	width: 75px;
	height: 75px;
	background: url(../img/sprite-sedona.png) no-repeat;
	background-position: -78px -36px;
}
.internals-item .souvenirs {
	width: 75px;
	height: 79px;
	background: url(../img/sprite-sedona.png) no-repeat;
	background-position: 0px -36px;
}
/*-------------Заинтересовались?------------------*/
.interested {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-left: 312px;
	padding-right: 312px;	
	padding-top: 55px;	
}
.interested h3 {
	padding-bottom: 35px;
}
.interested p {
	padding-bottom: 40px;
	padding-left: 80px;
	padding-right: 80px;
}
.interested a {
	width: 575px;
	text-align: center;	
	padding-top: 43px;
	padding-bottom: 43px;
	/*padding-left: 140px;
	padding-right: 140px;*/
	background-color: #766357;	
	color: #ffffff;
	font-size: 21px;
    line-height: 0px;
    font-weight: bold;
}
.map {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(../img/search-maps.jpg);
}
/*--------------------------Форма на главной------------------*/
.search-hotels {
	width: 570px;
	min-height: 385px; 
	margin-bottom: 80px;
	background-color: #ffffff;
}

.search-hotels .btn {
	display: inline-block;
	margin-top: 250px;
  	padding: 10px 195px;
	color: #ffffff;
 	background-color: #81b3d2;
  	border: none;
  	cursor: pointer;
  	font-weight: 700;
  	font-size: 21px;
  	line-height: 26px;
  	font-family: "PT Sans", "Arial", sans-serif;
  	vertical-align: top;
  	text-align: center;
  	color: #ffffff;
  	text-transform: uppercase;
  	text-decoration: none;
}
.search-hotels .btn:hover {
	background-color: #669ec0;
}
.search-hotels .btn:active {
	opacity: 0.7;
	background-color: #5496bd;
}
/*-------------------Подвал-----------------*/
footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: space-around;
	align-items: center;
	background: rgba(255,255,255, 0,8);
	padding-top: 38px;
	padding-bottom: 38px;
}
.footer-item {
	width: 400px;
	align-self: center;
	text-align: center;

}
.footer-item ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.footer-item:first-child a {
	font-size: 21px;
    line-height: 0px;
    font-weight: bold;
}
.footer-item span {
	position: relative;
	font-size: 14px;
    line-height: 0px;
    padding-right: 135px;    
}
.footer-item span::after {
	content: " ";
	display: inline-block;
	position: absolute;
	vertical-align: top;
	width: 115px;
	height: 40px;
	background: #ffffff url(../img/spritesheet.png) no-repeat;
	background-position: -246px -5px;;
	top: -50%;	
	right: 10px;
}
.footer-item span:hover::after {
	background: #ffffff url(../img/spritesheet.png) no-repeat;
	background-position: -191px -103px;
}
.footer-item span:active::after {
	background: #ffffff url(../img/spritesheet.png) no-repeat;
	background-position: -246px -54px;
}
.icon {
	display: inline-block;
  	width: 46px;
  	height: 48px;
  	margin: 0 3px;
  	font-size: 0;
  	vertical-align: top;
  	text-decoration: none;
  	background: #81b3d2 url("../img/spritesheet.png") no-repeat center;
}
.icon:hover {
	background: #669ec0 url("../img/spritesheet.png") no-repeat center;
}
.icon:active {
	background: #5496bd url("../img/spritesheet.png") no-repeat center;
}
.icon-twitter, .icon-twitter:hover {
	background-position: -314px -130px;
}
.icon-facebook, .icon-facebook:hover {
	background-position: -5px -89px;
}
.icon-YouTube, .icon-YouTube:hover {
	background-position: -5px -5px;
}
.icon-twitter:active {
	background-position: -174px -188px;	
}
.icon-facebook:active {
	background-position: -61px -89px;
}
.icon-YouTube:active {
	background-position: -61px -5px;
}


/*   -------------Страница catolog.html-------------------------- */
.quest-form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-image: url(../img/filter-background.jpg);
	color: #ffffff;
	padding-top: 29px;
	padding-bottom: 32px;
}
.quest {
	width: 264px;
}
.quest-price {
	width: 528px;
}
.quest-item li {
	padding-top: 24px;
}	/*интервал между списками в форме
}
.quest-item li:first-child {
	padding-top: 0;	/*интервал между списками в форме
}*/
.quest h2, .quest-price h2 { /* Инфраструктура, Тип жилья, стоимость в сутки*/
	font-size: 16px;    
    line-height: 21px;
    color: #ffffff;	
}
.quest-sorting, .hotels { /*section и article после формы*/
	display: flex;
	flex-direction: row;	
}
.quest-sorting {   /*Сортировка по типу рейтингу*/
	align-items: flex-end;
	background-color: #fefefe;
	padding-top: 31px;
	padding-bottom: 34px;
}
.quest-picking { /* ul в quest-sorting*/
	display: flex;
	flex-direction: row;
	align-items: center;
}
.quest-text {  /* Найдено: 3 */
	width: 165px;
}
.quest-list {  /* контейнер Сортировка по типу рейтингу*/
	width: 781px;	
	font-size: 12px;    
    line-height: 18px;
}
.quest-list a {
	opacity: 0.7; /* Значение прозрачности */
    filter: alpha(Opacity=70); /* Прозрачность в IE */
	color: #000000;
}
.quest-arrow {
	width: 110px;	
}
.quest-arrow ul{	
	display: flex;
	flex-direction: row;
	justify-content: flex-end;	
}/*
.quest-arrow a:first-child {
	width: 15px;
	height: 15px;
	background: url(../img/sprite-sedona.png) no-repeat;
	background-position: -54px -5px;
}
.quest-arrow a:last-child {
	width: 15px;
	height: 15px;
	background: url(../img/sprite-sedona.png) no-repeat;
	background-position: -35px -5px;
}*/
.quest-form, .hotels, .quest-sorting {  /*article с гостиницами */
	padding-left: 72px;
	padding-right: 72px;
	background-color: #fefefe;
}
.hotels {
	padding-top: 31px;
	padding-bottom: 30px;
}
.hotels-image {      /*изображение отелей*/
	width: 165px;
	line-height: 0; 	
}
/*------------------нулевые маргины---------------- */
.navigation-list, 
.description h2, 
.description p, 
.reasons-item h2,
.reasons-item p,
.internals-item h2,
.internals-item p,
.interested h3,
.interested p,
.quest h2, 
.quest-price h2, 
.quest-item, 
.quest-picking, 
.quest-text h2, 
.quest-arrow ul, 
.hotels-image, 
.hotels-info h2,
.footer-item ul {
	margin-top: 0;
	margin-bottom: 0;
}	
.hotels-info {
	width: 781px;
	display: flex;
	flex-direction: column;
}
.hotels-info h2 {
	font-size: 21px;    
    line-height: 26px;
    font-weight: bold;
    padding-bottom: 6px;

}
.stars {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-bottom: 36px;
}
i {	
	width: 20px;
	height: 20px;
	background: url(../img/sprite-sedona.png) no-repeat;
	background-position: -255px -50px;
}
.hotels-ratings {
	width: 110px;	
}
.rating {
	width: 100%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 8px;	
	background-color: #f2f2f2;
	
}
.rating span {
	line-height: 21px;
}
.info-link a, .info-span a {
	font-weight: bold;
	padding-top: 5px;	
	padding-left: 17px;
	padding-right: 15px;
	color: #ffffff;	
}
.info-span a:last-child {
		
	user-select: none;
	background-color: #81b3d2;	
}
.info-link a:last-child {		
	background-color: #766357;
}
.info-span {
	margin-right: 6px;
}
.info-list {
	display: flex;
	flex-direction: row;
}
.info-span, .info-link {
	display: flex;
	flex-direction: column;
}
.info-list span, .info-span span {
	padding-bottom: 11px;
}
